<h1>
  <%= t ".title", name: @shop.name %>
</h1>

<%= render "form", shop: @shop, slot: @slot %>

<%= render "index", shop: @shop %>

<%= link_to t(".see_my_shop"), @shop, class: "btn btn-primary d-inline" %>
