<h1><%= t('hello')%></h1>
<h2><%= t('.title')%></h2>
<%= link_to "Create", new_shop_path %>

<ul>
  <% @shops.each do |shop| %>
    <li><%= link_to shop.name, shop_path(shop) %></li>
  <% end %>
</ul>
