<h1>
  <%= t ".name_shop_html", name: @shop.name %>
</h1>
<h3><%= t ".shopping_hours" %>:</h3>

<%= render partial: 'slots/index', locals: {shop: @shop} %>

<%= link_to t("back"), shops_path, class: "btn btn-primary" %>
